<IfModule mod_rewrite.c>
  # redirect to https
  RewriteEngine On
  RewriteCond %{ENV:HTTPS} !on
  RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI} [R=301,L]

  # redirect from *index.html -> /
  RewriteCond %{REQUEST_URI} index.html$
  RewriteRule ^(.*)\index.html$ https://%{HTTP_HOST}/$1 [R=301,L]

  # redirect from *something.html -> something/
  RewriteCond %{REQUEST_URI} !(index.html)$
  RewriteRule ^(.*)\.html$ https://%{HTTP_HOST}/$1/ [R=301,L]

</IfModule>

<Files />
  # allow including .html to php
  AddType application/x-httpd-php .html
</Files>
